<div class='popup'>
  <div class='header'>
    Upload NBT <button (click)="close()">close</button>
  </div>
  <div class='content'>
      <input name="ff" type='file' (change)="changeFile($event)"/>
      <button (click)="addNbt()">Load</button>
  </div>
</div>
