<div ngClass=left>
  <div ngClass=menu><app-menu></app-menu></div>
  <div ngClass=tree><app-tree></app-tree></div>
</div>
<div ngClass=right>
  <app-crgen></app-crgen>
  <app-crmonde></app-crmonde>
  <app-orders></app-orders>
</div>
<div ngClass=map><app-map></app-map></div>
