:host{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
.left{
	width:100px;
	float:left;
	height:100%;
	background-color: #FBF5CE;
	overflow:auto;
}
.menu{
	position:absolute;
	z-index:10;
}
.tree{
	padding-top:50px;
	width:100%;
	height:calc( 100% - 53px);
}
.map{
	background-color: #F8F8F8;
	height:100%;
	overflow:hidden;
}
.right{
	float:right;
	height:100%;
	background-color: #93B09E;
	overflow:hidden;
}
