div.btn{
	background-color: #DAEBF9;
	border-radius: 3px;
	border:1px solid black;
	padding:0;
	width:24px;
	height:24px;
}
div.btn img{
	display:block;
	width:20px;
	height:20px;
	margin:1.5px;
}
div.btn:hover {
	border:1px solid #111CFF;
}
div.btn:active {
	background-color: #CBE5EE;
	border:1px solid #7693FF;
}
div.main{
	position:absolute;
	background-color: #FFF;
	border:1px solid #DAEBF9;
	top:2px;
	left:26px;
}