<div ngClass="btn" (click)="openMenu()" >
	<img src="assets/settings.svg"/>
</div>

<div ngClass="main" [style.visibility]="opened?'visible':'hidden'">
	<a (click)="openUpl()">upload</a>
</div>

<app-upnbt *ngIf="uplwin" (closeEvent)="closeUpl()"></app-upnbt>