.card-header {
	padding:0px;
}
.card-body {
	padding:3px;
}
.nw-toolbar {
	display:none;
}
.treepath{
  stroke: green;
  stroke-width:3px;
}
.treecircle{
  stroke:green;
  stroke-width:1px;
  fill:white;
  r:7;
}
.treetext{
  stroke:black;
  font-size:9px;
  text-anchor:middle;
}